@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size:80%;
}
body{
    background-color: cornsilk;
    padding:5rem 10rem;
}
.container{
    min-width: 20rem;
    width:70vw;
    margin:auto;
    /* border:1px solid black; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
}

h1{
    font-size:5rem;
    text-align: center;
}
.container .posts {
margin-top:5rem;
margin:1rem;
background-color:black;
color:white;
border-radius: 10px;
padding: 2rem;
}
.post-id{
    width:5rem;
    height:5rem;
    background-color:blue;
    color:white;
    display: grid;
    place-items: center;
    font-size: 2rem;
}
.title{
    font-size:2.5rem;
    margin:2rem 0 1rem 0;
    text-decoration: capitalize;
}
.post-info{
    font-size:1.5rem;
}